.wrapper {
    padding-top: 10vh;
    height: 90vh;
    background: #fff;
    padding: 10vh 10vw;
}

.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}


/* skin.css Style*/

.upload-drop-zone {
    color: #999;
    border-style: dashed;
    border-color: #ccc;
    border-radius: 20px;
    line-height: 200px;
    text-align: center
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

#uploadForm {
    display: none;
}